﻿@model KingMaker.Models.GamePlay

@{
    ViewBag.Title = "King Maker";
}

<div class="jumbotron">
    Enemy
</div>

<div class="row">
    <div class="col-md-12">
        Select an action:
    </div>
</div>

@foreach (var card in Model.Hero.Hand.Cards)
{ 
<div class="col-md-2">
    @Html.Partial("_PlayerCard", card.Value)
</div>
}
