﻿@model KingMaker.Models.Card

<div class="box bg-black">
    <div class="box-header with-border">
        <h4 class="box-header">@Model.Title</h4>
    </div>
    <div class="box-body">
        @*<p>@Model.Image</p>*@
        <p>@Model.Description</p>
        <p><span class="ion ion-fireball"></span> @Model.Attack</p>
        <p><span class="fa fa-shield"></span> @Model.Defense</p>
        <p><span class="ion ion-ios-timer-outline"></span> @Model.Delay</p>
    </div>
</div>
